*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --dark-blue: #0d1a26;
  --light-blue: #5ac8fa;
  --light-white: #f4f7fb;
  --text-color: #1718268f;
  --white: #ffffff;
  --grey: #636366;
  --grey-dark: #48484a;
  --yellow: #f2c94c;
  --max-width-section: 120em;
  --sm: 40em;
  --md: 48em;
  --lg: 64em;
  --xl: 80em;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be remove */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--dark-blue);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 20px;
  border: 1px solid var(--light-blue);
} */
/*************************************** fonts************************************** */
@font-face {
  font-family: "CamptonBook";
  src: url("./fonts/CamptonBook.woff") format("woff");
}
@font-face {
  font-family: "CamptonBold";
  src: url("./fonts/CamptonBold.woff") format("woff");
}
@font-face {
  font-family: "CamptonSemiBold";
  src: url("./fonts/CamptonSemiBold.woff") format("woff");
}
/*************************************** fonts************************************** */

body {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-family: "CamptonBook", sans-serif;
  background-color: #f4f7fb;
}
.container {
  max-width: 18.75em;
  margin: 0 auto;
}
/************************* NAVBARs************************************ */
.header {
  min-height: 100vh;
  /* background-image: linear-gradient(
    to right bottom,
    #282a4f,
    #252647,
    #21233f,
    #1e1f38,
    #1b1c30,
    #1a1b2d,
    #181929,
    #171826,
    #171826,
    #171826,
    #171826,
    #171826
  ); */
  color: var(--light-white);
  background: var(--dark-blue);
}

.navbar {
  max-width: var(--max-width-section);
  margin: 0 auto;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; */
}
.navbar-one {
  text-align: center;
}
.navbar-two {
  text-align: center;
  transition: all 300ms ease-in-out;
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e1f38;
  padding: 2em;
}
.menu {
  cursor: pointer;
}
.menu span {
  width: 26px;
  height: 2px;
  background: #fff;
  display: block;
  margin-bottom: 5px;
}

.list {
  transition: all 300ms ease-in-out;
  display: none;
}
.link {
  display: inline-block;
  font-size: 1.4rem;
  color: #ffffff;
  padding: 0.7em 2.15em;
  background: transparent;
  margin: 3rem 0;
  border-radius: 1.9em;
  transition: all 300ms ease-in-out;
}
.link:hover,
.link:focus {
  background: rgba(5, 5, 5, 0.12);
}
.navbar-two {
  text-align: center;
  transition: all 300ms ease-in-out;
  display: block;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  padding: 0.7em 2.5em;
  border-radius: 3.5em;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}
.btn svg {
  margin-left: 1rem;
}
.btn:hover,
.btn:focus {
  opacity: 0.7;
}
.sign-in {
  margin: 3rem auto;
  font-size: 1.2em;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
}

.open {
  display: block;
  transition: all 300ms ease-in-out;
}
.open-color {
  background: #1e1f38;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/************************* NAVBARs************************************ */

/************************* heroes************************************ */
.hero {
  max-width: var(--max-width-section);
  padding: 8em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
/* .hero__wrapper {
} */
.hero_contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hero-text {
  font-size: 1.4rem;
  color: var(--yellow);
  letter-spacing: 0.75rem;
}
.hero-heading {
  font-size: 5rem;
  font-family: "CamptonBold", sans-serif;
  letter-spacing: 0.5rem;
  margin: 0.7rem 0 1.4rem 0;
}
.hero--sub-text {
  font-size: 1.4rem;
}
.bold {
  position: relative;
  font-family: "CamptonBold", sans-serif;
}
#bold-svg {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.download {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
  margin: 2rem 0;
  font-size: 1.2em;
  max-width: 400px;
  padding: 1em 3em;
}

.web {
  background: rgba(5, 5, 5, 0.12);
  margin: 2rem 0;
  font-size: 1.4em;
  max-width: 400px;
  padding: 1em 3em;
}
.hero-image-wrapper {
  position: relative;
}
.circle1 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle2 {
  position: absolute;
  width: 180px;
  height: 180px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-image {
  position: relative;
}
.hero-image img {
  max-width: 400px;
  margin: 0 auto;
}

/************************* heroes************************************ */
/************************* WHYYY************************************ */
.why {
  max-width: var(--max-width-section);
  padding: 0 2em;
  margin: 0 auto;
}
.scroller {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.curve {
  width: 16px;
  height: 36px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #336799;
}
.circle {
  width: 10px;
  height: 10px;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
  border-radius: 50%;
}
.why-contents {
  max-width: 500px;
  margin: 0 auto;
}
.why-heading {
  color: var(--dark-blue);
  border-left: 6px solid var(--yellow);
}
.why-header {
  margin-left: 1rem;
  font-size: 2.4rem;
  font-family: "CamptonSemiBold", sans-serif;
}

.why-contents .download {
  max-width: 200px;
}
.why-text {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 2;
  margin: 2em 0;
}

.btn-why {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
  /* margin: 2rem 0;
  font-size: 1.2em;
  max-width: 400px;
  padding: 1em 3em; */
}
.blue {
  color: var(--light-blue);
}
.why-image-content {
  max-width: 500px;
  margin: 0 auto;
}

.success {
  margin: 2rem 0;
}
.success .why-header {
  text-align: center;
}

.success-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 3rem 0;
}
.box {
  flex-basis: 100%;
  max-width: 300px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  background-color: var(--white);
  padding: 2em;
  margin-bottom: 1rem;
}
.box:hover,
.box:focus {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow: 10px 10px 70px #d9d9d9, -20px -20px 40px #ffffff;
}
.box-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-group p {
  font-size: 1.2rem;
  color: var(--grey);
  margin: 1rem 0;
}
.box-group h3 {
  font-size: 2rem;
  font-family: "CamptonBold";
}

/************************* WHYYY************************************ */
/********************************* FEATURES************************************ */
.features {
  max-width: var(--max-width-section);
  padding: 0 2em;
  margin: 0 auto;
}
.features-heading {
  text-align: center;
  margin: 8rem 0 4rem 0;
}
.features-heading h3 {
  letter-spacing: 0.5rem;
  color: var(--grey);
}
.features-heading .why-header {
  max-width: 400px;
  margin: 0 auto;
}
.features-wrapper {
  /* display: flex;
  align-items: center; */
}
.notes-group {
  display: flex;
  column-gap: 2rem;
  gap: 2em;
  flex-direction: column;
}
.notes-group > * {
  flex-basis: 100%;
}

.note {
  background: var(--white);
  padding: 3em 2em;
  margin: 2rem 0;
  border-radius: 10px;
  max-width: 500px;

  margin: 1em auto;
}
.note-group {
  display: flex;
  align-items: center;
  justify-content: start;
}

.note-group img {
  width: 30px;
  height: 30px;
}
.note-group p {
  font-family: "CamptonSemiBold";
  color: #336799;
  font-size: 1.4rem;
  margin-left: 0.5em;
}
.note-text {
}
.note-text p {
  line-height: 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--grey-dark);
}

.notes-images {
  display: none;
}
.note-svg {
  display: none;
}
/********************************* FEATURES************************************ */
/************************* Get Started************************************ */
.started {
  margin: 4rem 0;
  padding: 4rem 0;
  color: var(--white);
  background-image: linear-gradient(to bottom, #5ac8fa, 89%, #4081bf);
  text-align: center;
}
.started-wrapper {
  max-width: var(--max-width-section);
  margin: 0 auto;
}
.started-heading p {
  font-size: 1.4rem;
  max-width: 300px;
  margin: 0 auto;
  color: rgba(244, 247, 251, 0.8);
}
.started-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.started-btn-group .web {
  margin: 1rem auto;
  color: var(--white);
  font-size: 1.2em;
  background: rgba(244, 247, 251, 0.2);
}

/************************* Get Started************************************ */

/*******************************TESTIMONIALS************************************ */
.testimonial {
  max-width: var(--max-width-section);
  margin: 4rem auto;
  padding: 0 2em;
}
/* .testimonial-wrapper {
  position: relative;
} */
.person {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.person-content + .person-img {
  margin-left: 4rem;
}
.person-img {
  display: none;
}
.testimonial-text {
  max-width: 500px;
  line-height: 1.7;
  color: var(--grey);
  margin: 2rem auto;
  font-size: 1.2rem;
}
.person-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.content-group p {
  color: var(--grey);
  font-size: 1.2rem;
}
.content-group h3 {
  color: var(--dark-blue);
  font-family: "CamptonBold";
  font-size: 1.6rem;
}
.left-btn,
.right-btn {
  cursor: pointer;
  background: #dde1e6;
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
}
.right-btn {
  right: -10px;
  top: 50%;
}
.left-btn {
  left: -10px;
  top: 50%;
}
.dot-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80px;
  margin: 4rem auto;
}
.dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: var(--grey);
  border-radius: 50%;
}
.dot:hover,
.dot:focus {
  background: var(--light-blue);
}

/*******************************TESTIMONIALS************************************ */
/*******************************FOOTER************************************ */
.footer {
  background: var(--dark-blue);
  padding: 0 2em;
}
.footer .list {
  transform: translateX(0);
}
.footer .list .link {
  margin: 0 auto;
  padding: 0.5em 2em;
}
/*******************************FOOTER************************************ */

/* media queries  */
@media only screen and (min-width: 40em) {
  .container {
    max-width: 90em;
    margin: 0 auto;
  }
  .btn-group {
    flex-direction: row;
  }
  .download + .web {
    margin-left: 2rem;
  }
  .download {
    font-size: 1.4em;

    padding: 1em 3em;
  }

  .web {
    font-size: 1.4em;

    padding: 1em 3em;
  }
  .hero-heading {
    font-size: 6rem;
    letter-spacing: 0.75rem;
  }
  .why-header {
    font-size: 3rem;
    margin-left: 2rem;
  }
  .why-text {
    font-size: 1.4rem;
  }
  .started {
    padding: 8rem 0;
  }
  .started-btn-group {
    flex-direction: row;
    max-width: 700px;
    margin: 0 auto;
    margin: 4rem auto;
  }
  .started-btn-group .web {
    margin: 0 auto;
    font-size: 1.2em;
  }
  .started-heading p {
    font-size: 2rem;
    max-width: 600px;
  }
  .testimonial-text {
    max-width: 600px;
    font-size: 1.4rem;
  }

  .content-group p {
    font-size: 1.4rem;
  }
  .content-group h3 {
    font-size: 2rem;
  }
  .person {
    max-width: 1000px;
    padding: 0 4rem;
  }
  .left-btn,
  .right-btn {
    background: #dde1e6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
  }
}

@media only screen and (min-width: 48em) {
  /************************* NAVBARs************************************ */
  /* .header {
    clip-path: polygon(
      50% 0%,
      83% 0,
      100% 0,
      100% 90%,
      65% 95%,
      32% 95%,
      0 90%,
      0 0,
      17% 0
    );
  } */
  .logo {
    background: transparent;
  }
  .menu {
    display: none;
  }
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-one {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .navbar-two {
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link {
    font-size: 1.6em;
  }
  .sign-in {
    font-size: 1.4em;
  }
  /************************* NAVBARs************************************ */

  /************************* heroes************************************ */

  .hero-heading {
    font-size: 7rem;
    letter-spacing: 0.2rem;
  }
  .circle1 {
    width: 400px;
    height: 400px;
  }
  .circle2 {
    position: absolute;
    width: 220px;
    height: 220px;
  }

  .hero-image img {
    max-width: 500px;
    margin: 0 auto;
  }

  /************************* heroes************************************ */

  .box {
    max-width: 175px;
  }

  .box-group p {
    font-size: 1.4rem;
    color: var(--grey);
    margin: 1rem 0;
  }
  .box-group h3 {
    font-size: 2.4rem;
  }

  /* .notes-images {
    display: block;
    max-width: 300px;
    margin: 2em auto;
  } */
  .started-btn-group {
    max-width: 800px;
  }
  .started-btn-group .web {
    font-size: 1.4em;
  }
  .testimonial {
    margin: 12rem auto;
  }
  .testimonial-text {
    max-width: 800px;
    font-size: 1.4rem;
  }
  .right-btn {
    right: -15px;
    top: 50%;
  }
  .left-btn {
    left: -15px;
    top: 50%;
  }
  .person-img {
    display: block;
  }
}
@media only screen and (min-width: 64em) {
  /************************* heroes************************************ */
  .hero {
    padding: 0em 2em;
    justify-content: space-between;
  }
  .hero__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .hero-image-wrapper {
    width: 100%;
    flex-basis: 100%;
  }
  .hero_contents {
    display: block;
    width: 100%;
    flex-basis: 100%;
    text-align: left;
  }
  .circle1 {
    width: 500px;
    height: 500px;
  }
  .circle2 {
    position: absolute;
    width: 320px;
    height: 320px;
  }
  .hero-image img {
    max-width: 700px;
    margin: 0 auto;
  }
  .btn-group {
    justify-content: start;
  }
  /************************* heroes************************************ */
  /************************* WHYYY************************************ */
  .why {
    margin: 4rem auto;
  }
  .why-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .why-contents {
    flex-basis: 100%;
    max-width: 1000px;
  }
  .why-header {
    font-size: 3.6rem;
  }

  .why-text {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .why-image-content {
    flex-basis: 100%;
    max-width: 1000px;
  }
  /************************* WHYYY************************************ */

  .features {
    margin: 8em auto;
  }
  .features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
  .notes-images {
    display: block;
    max-width: 274px;
    min-height: 551px;
  }
  .note {
    padding: 3em;
    max-width: 374px;
    min-height: 170px;
    margin: 1em auto;
  }
  .note-group p {
    font-size: 1.8rem;
    margin-left: 0.5em;
  }
  .note-text p {
    font-size: 1.4rem;
  }
  .note-svg {
    display: block;
  }
  .note-pos1 {
    position: relative;
  }
  .note-pos1 .note-svg {
    position: absolute;
    right: -15%;
    top: 50%;
  }
  .note-pos1 .note-svg svg {
    max-width: 50px;
  }
  .note-pos2 {
    position: relative;
  }
  .note-pos2 .note-svg {
    position: absolute;
    left: -15%;
    top: 50%;
  }
  .note-pos2 .note-svg svg {
    max-width: 50px;
  }
}
