*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --blue: #336799;
  --dark-blue: #0d1a26;
  --light-blue: #5ac8fa;
  --light-white: #f4f7fb;
  --text-color: #1718268f;
  --white: #ffffff;
  --grey: #636366;
  --grey-dark: #48484a;
  --yellow: #f2c94c;
  --max-width-section: 120em;
}

html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be remove */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*************************************** fonts************************************** */
@font-face {
  font-family: "CamptonBook";
  src: url("./fonts/CamptonBook.woff") format("woff");
}
@font-face {
  font-family: "CamptonBold";
  src: url("./fonts/CamptonBold.woff") format("woff");
}
@font-face {
  font-family: "CamptonSemiBold";
  src: url("./fonts/CamptonSemiBold.woff") format("woff");
}
/*************************************** fonts************************************** */

body {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-family: "CamptonBook", sans-serif;
  background-color: #f4f7fb;
}
.container {
  max-width: 190em;
  margin: 0 auto;
  overflow: hidden;
}
/************************* NAVBARs************************************ */
.header {
  z-index: 10;
  min-height: 70vh;
  position: relative;
  background: linear-gradient(to right, #011d29, #023045, #011d29, #011d29);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  color: var(--light-white);
}
.signin {
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(to right, #011d29, #023045, #011d29, #011d29);
  min-height: 70vh;
}
.open-header {
  clip-path: none;
}

.header-svg {
  position: absolute;
  left: 100px;
  bottom: -70px;
  animation: wheeler 7s linear infinite;
}
.header-svg1 {
  animation-delay: 2s;
  left: 200px;
}
.header-svg2 {
  animation-delay: 3.2s;
  left: 300px;
}
.header-svg3 {
  animation-delay: 5s;
  left: 400px;
}
.header-svg4 {
  animation-delay: 4.62s;
  left: 500px;
}
.header-svg5 {
  animation-delay: 2s;
  left: 1200px;
}
.header-svg6 {
  animation-delay: 7.2s;
  left: 607px;
}
.header-svg7 {
  animation-delay: 4.55s;
  left: 400px;
}
.header-svg8 {
  animation-delay: 9.4s;
  left: 687px;
}
.header-svg9 {
  animation-delay: 8s;
  left: 590px;
}
.header-svg10 {
  animation-delay: 3.72s;
  left: 350px;
}
.header-svg11 {
  animation-delay: 3.69s;
  left: 1100px;
}
.header-svg12 {
  animation-delay: 4.62s;
  left: 500px;
}
.header-svg13 {
  animation-delay: 3.8s;
  left: 900px;
}
.header-svg14 {
  animation-delay: 7.2s;
  left: 1038px;
}
.header-svg15 {
  animation-delay: 5s;
  left: 1000px;
}
.header-svg16 {
  animation-delay: 3.62s;
  left: 900px;
}

.navbar {
  max-width: var(--max-width-section);
  margin: 0 auto;
  transition: all 300ms ease-in-out;
}
.navbar-one {
  text-align: center;
}

/* kkdkdkd */
.navbar-two {
  text-align: center;
  transition: all 300ms ease-in-out;
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dark-blue);
  padding: 2em;
}
.logo-navbar img {
  width: 40px;
}
.menu {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.menu span {
  position: absolute;
  left: 25%;
  width: 22px;
  height: 2px;
  background: #fff;
  display: inline-block;
  margin-bottom: 10px;
}
.menu span:nth-child(1) {
  top: 40%;
}
.menu span:nth-child(2) {
  bottom: 10%;
}

.list {
  transition: all 300ms ease-in-out;
  display: none;
}
.link {
  display: inline-block;
  font-size: 1.4rem;
  color: #ffffff;
  padding: 0.7em 2.15em;
  background: transparent;
  margin: 3rem 0;
  border-radius: 1.9em;
  transition: all 300ms ease-in-out;
}
.link:hover,
.link:focus {
  background: rgba(5, 5, 5, 0.12);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  padding: 0.7em 2.5em;
  border-radius: 5em;
  color: #ffffff;
  transition: all 300ms ease-in-out;
}
.btn svg {
  margin-left: 1rem;
}
.btn:hover,
.btn:focus {
  opacity: 0.7;
}
.sign-in {
  margin: 3rem auto;
  font-size: 1.2em;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
}

.open {
  display: block;
  transition: all 300ms ease-in-out;
}
.open-color {
  background: var(--dark-blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
/************************* NAVBARs************************************ */

/************************* heroes************************************ */
.hero {
  max-width: var(--max-width-section);
  padding: 8em 2em;
  margin: 0 auto;
  position: relative;
}

.hero_contents {
  margin-bottom: 6rem;
}
.hero-text {
  font-size: 1.2rem;
  color: var(--yellow);
  letter-spacing: 0.75rem;
  text-transform: uppercase;
}
.hero-heading {
  font-size: 5rem;
  font-family: "CamptonBold", sans-serif;
  margin: 0.7rem 0 1.4rem 0;
}

.hero--sub-text {
  font-size: 1.4rem;
}
.bold {
  position: relative;
  font-family: "CamptonBold", sans-serif;
}
#bold-svg {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  display: none;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  display: none;
}
.download {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
  margin: 2rem 0;
  font-size: 1.2em;
  max-width: 400px;
  padding: 1em 3em;
}

.web {
  background: rgba(5, 5, 5, 0.12);
  margin: 2rem 0;
  font-size: 1.4em;
  max-width: 400px;
  padding: 1em 3em;
}
.hero-image-wrapper {
  position: relative;
}

.circle1 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.circle2 {
  position: absolute;
  width: 180px;
  height: 180px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.hero-mobile {
  max-width: 180px;
  margin: 0 auto;
}
.hero-image {
  position: relative;
  display: none;
}
.hero-image img {
  max-width: 400px;
  margin: 0 auto;
}

/************************* heroes************************************ */
/************************* WHYYY************************************ */
.why {
  max-width: var(--max-width-section);
  padding: 0 2em;
  margin: 0 auto;
}
.scroller {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.curve {
  width: 16px;
  height: 36px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #336799;
}
.circle {
  width: 10px;
  height: 10px;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
  transform: translateY(-1rem);
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.circle:hover,
.circle:focus {
  transform: translateY(1rem);
}
.why-contents {
  max-width: 500px;
  margin: 0 auto;
}
.why-heading {
  color: var(--dark-blue);
  /* border-left: 6px solid var(--yellow); */
}
.why-header {
  /* margin-left: 1rem; */
  font-size: 2.4rem;
  font-family: "CamptonSemiBold", sans-serif;
}

.why-contents .download {
  max-width: 200px;
}
.why-image-content .download {
  max-width: 250px;
}
.why-text {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 2;
  margin: 2em 0;
}

.btn-why {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #5ac8fa,
    #51b6ec,
    #49a4de,
    #4492cf,
    #4081bf
  );
  /* margin: 2rem 0;
  font-size: 1.2em;
  max-width: 400px;
  padding: 1em 3em; */
}
.blue {
  color: var(--light-blue);
}
.why-image-content {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 6rem;
}

.success {
  margin: 2rem 0;
}
.counter {
  display: inline-block;
}
.success .why-header {
  display: none;
}

.success-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 3rem 0;
}
.box {
  flex-basis: 100%;
  max-width: 300px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  background-color: var(--white);
  padding: 2em;
  margin-bottom: 1rem;
}
.box:hover,
.box:focus {
  cursor: pointer;
  transform: translateY(-5%);
  box-shadow: 10px 10px 70px #d9d9d9, -20px -20px 40px #ffffff;
}
.box-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-group p {
  font-size: 1.2rem;
  color: var(--grey);
  margin: 1rem 0;
}
.box-group h3 {
  font-size: 2rem;
  font-family: "CamptonBold";
}

/************************* WHYYY************************************ */
/********************************* FEATURES************************************ */
.features {
  max-width: var(--max-width-section);
  padding: 0 2em;
  margin: 0 auto;
}
.features-heading {
  margin: 8rem auto 4rem auto;
  max-width: 400px;
  text-align: center;
}
.features-heading h3 {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  color: var(--grey);
}
.features-heading .why-header {
  margin: 0 auto;
}
.features-wrapper {
  /* display: flex;
  align-items: center; */
}
.notes-group {
  display: flex;
  column-gap: 2rem;
  gap: 2em;
  flex-direction: column;
}
.notes-group > * {
  flex-basis: 100%;
}

.note {
  background: var(--white);
  padding: 3em 2em;
  margin: 2rem 0;
  border-radius: 10px;
  max-width: 500px;

  margin: 1em auto;
}
.note-group {
  display: flex;
  align-items: center;
  justify-content: start;
}

.note-group img {
  width: 30px;
  height: 30px;
}
.note-group p {
  font-family: "CamptonSemiBold";
  color: #336799;
  font-size: 1.4rem;
  margin-left: 0.5em;
}
.note-text {
}
.note-text p {
  line-height: 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--grey-dark);
}

.notes-images {
  display: none;
}
.note-svg {
  display: none;
}
/********************************* FEATURES************************************ */
/************************* Get Started************************************ */
.started {
  margin: 4rem 0;
  padding: 4rem 0;
  color: var(--white);
  background-image: linear-gradient(to bottom, #5ac8fa, 89%, #4081bf);

  text-align: center;
}
.started img {
  position: absolute;
  display: none;
}

.started-image1 {
  bottom: -20px;
  left: 40%;
}
.started-image2 {
  top: 50%;
  left: 10%;
}
.started-image3 {
  right: 150px;
  top: 40%;
}
.started-image4 {
  left: 60%;
  top: 18%;
}
.started-image5 {
  top: -25px;
  left: 45%;
}
.started-image6 {
  top: -10px;
  right: 10px;
}
.started-wrapper {
  max-width: var(--max-width-section);
  margin: 0 auto;
}
.started-heading p {
  font-size: 1.4rem;
  max-width: 300px;
  margin: 0 auto;
  color: rgba(244, 247, 251, 0.8);
}
.started-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.started-btn-group .web {
  margin: 1rem auto;
  color: var(--white);
  font-size: 1.2em;
  background: rgba(244, 247, 251, 0.2);
}

/************************* Get Started************************************ */

/*******************************TESTIMONIALS************************************ */
.testimonial {
  max-width: var(--max-width-section);
  margin: 4rem auto;
  padding: 0 2em;
}

.person {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.person-content + .person-img {
  margin-left: 4rem;
}
.person-img {
  display: none;
}
.testimonial-text {
  max-width: 500px;
  line-height: 1.7;
  color: var(--grey);
  margin: 2rem auto;
  font-size: 1.2rem;
}
.person-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.person-img-mobile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
}
.content-group {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: start;
}
.person-img-mobile + .test-context {
  margin-left: 2rem;
}
.person-level {
  color: var(--grey);
  font-size: 1.2rem;
}
.person-name {
  color: var(--dark-blue);
  font-family: "CamptonBold";
  font-size: 1.6rem;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

/*******************************TESTIMONIALS************************************ */
/*******************************FOOTER************************************ */
.footer {
  background: linear-gradient(to bottom, #011d29, #023045, #023045, #023045);
  padding: 8em 2em 4em 2em;
  color: var(--light-white);
  clip-path: polygon(64% 5%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 14%);
  text-align: center;
}
.logo-img {
  max-width: 100px;
  margin: 0 auto;
}
.lists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 2em auto;
}

.links {
  display: inline-block;
  font-size: 1.4rem;
  color: #ffffff;
  padding: 1em 1.5em;
  background: transparent;
  border-radius: 1.9em;
  transition: all 300ms ease-in-out;
}
.links:hover,
.links:focus {
  background: rgba(5, 5, 5, 0.12);
}

.footer-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-text {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 250px;
  margin: 0 auto;
}
.social-media {
  display: inline-block;
  transition: opacity 300ms ease-in-out;
}
.social-media:hover,
.social-media:focus {
  opacity: 0.6;
}
/*******************************FOOTER************************************ */

@keyframes wheeler {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(-150vh);
    opacity: 0;
  }
}
/* services */
.service {
  max-width: var(--max-width-section);
  margin: 4rem auto;
  padding: 0 2em;
}
.service-group {
  display: flex;
  flex-wrap: wrap;
}
.service-box {
  position: relative;
  background: var(--white);
  padding: 5em 3em;
  border-radius: 10px;
  max-width: 320px;
  margin: 1em auto 4em auto;
}
.service-heading {
  color: var(--blue);
  font-size: 1.8rem;
  font-family: "CamptonBold", sans-serif;
  margin: 1em 0;
}
.service-text {
  font-size: 1.2rem;
  color: var(--dark-blue);
}
.service-text-heading {
  font-size: 1.4rem;
  color: var(--dark-blue);
  font-family: "CamptonSemiBold", sans-serif;
  margin: 4rem auto;
}
.service-blue {
  position: absolute;
  width: 250px;
  height: 10px;
  background: var(--light-blue);
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
}
.service-circle {
  background: var(--light-white);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  top: -20px;
}

.service-image {
  position: absolute;
  right: 20px;
  top: -11px;
}
.service-image img {
  width: 60px;
  height: 60px;
}
/* services */

/* client */
.client {
  max-width: var(--max-width-section);
  padding: 8em 2em;
  margin: 0 auto;
}

/* values */
.values {
  max-width: var(--max-width-section);
  margin: 6rem auto;
  padding: 0 2em;
}
.values-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.values-box {
  background: var(--white);
  padding: 2em 1em;
  border-radius: 5px;
  max-width: 350px;
  margin: 1em auto 4em auto;
  border-top: 5px solid var(--light-blue);
}
.value-header {
  font-family: "CamptonSemiBold";
  font-size: 2rem;
  padding: 1em 0;
}
.value-text {
  font-size: 1.3rem;
  max-width: 260px;
}
/* level */
.level {
  max-width: var(--max-width-section);
  padding: 0 2em;
  margin: 0 auto;
}
.level-wrapper {
  display: none;
}
.level-box {
  max-width: 500px;
  margin: 0 auto 2rem auto;
}
.level-img {
  position: relative;
}
.level-img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.level-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(90, 200, 250, 0.9), rgba(64, 129, 191, 0.8));
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.level-content {
  padding: 1rem;
  background: var(--white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.level-header {
  font-size: 3rem;
  margin: 1rem auto;
  font-family: "CamptonSemiBold", sans-serif;
}

.level-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-group + .item-group {
  margin-left: 1rem;
}

.level-item {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.level-item::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url(http://placehold.it/32?text=fallback);
  background-image: url(./images/Bookmark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}
/* teams */
.team {
  max-width: var(--max-width-section);
  padding: 8em 2em;
  margin: 0 auto;
}
.team-wrapper {
  display: none;
}
.team-wrapper-mobile {
  max-width: 300px;
  margin: 0 auto;
}
.level-wrapper-mobile {
  max-width: 400px;
  margin: 0 auto;
}
.level-wrapper-mobile .swiper-wrapper {
  margin-bottom: 1rem !important;
}
.team-content {
  padding: 1rem;
  background: var(--white);
  max-width: 277px;
  text-align: center;
}
.team-img img {
  width: 277px;
  height: 250px;
  margin: 0 auto;
}
.team-member {
  width: 277px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.team-member-name {
  font-size: 1.6rem;
  font-family: "CamptonSemiBold", sans-serif;
}
.team-member-job {
  font-size: 1.2rem;
}
.team-dot-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80px;
  margin: 4rem auto;
}
.team-dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: var(--grey);
  border-radius: 50%;
}
.team-dot:hover,
.team-dot:focus {
  background: var(--light-blue);
}
/* form */

.form-pos {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
}
.form-section {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.form-wrapper {
  max-width: 500px;
  margin: 0rem auto 6rem auto;
  background: var(--white);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}

.form-header {
  font-family: "CamptonSemiBold", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.form-content:nth-child(1) {
  margin-bottom: 2rem;
}

.contact-form {
  margin: 0 1rem 8rem 1rem;
}

.contact-form-box {
  max-width: 400px;
  margin: 0 auto;
  background: var(--white);
}
.contact-form-blue {
  background-color: var(--light-blue);
  color: var(--white);
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contact-form-text {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  margin: 2rem 0;
}
.contact-form-text img {
  width: 24px;
  margin-right: 2rem;
}

.form-text {
  font-size: 1.1rem;
  text-align: center;
  color: var(--light-white);
}
.form {
  padding: 1rem;
  background: var(--white);
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control input {
  border: 2px solid var(--white);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
  background: rgba(59, 93, 125, 0.1);
}
.form-control textarea {
  border: 2px solid var(--white);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 20px;
  background: rgba(59, 93, 125, 0.1);
  resize: none;
}
.form-control input:focus {
  outline: 0;
  border-color: var(--white);
}
.form-control textarea:focus {
  outline: 0;
  border-color: var(--white);
}
.form-hero {
  padding-top: 10rem;
}
.form-img img {
  max-width: 300px;
  margin: 2rem auto;
}

.submit-form {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
}
.submit {
  background: var(--light-blue);
  border: 2px solid #5ac8fa;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: opacticy 300ms ease-in;
}
.submit:hover {
  opacity: 0.9;
}
.submit svg {
  margin-left: 2rem;
  width: 24px;
}
.register {
  font-size: 1.2rem;
  color: var(--blue);
  transition: opacticy 300ms ease-in;
}
.register:hover {
  opacity: 0.9;
}
.form-social {
  display: flex;
  max-width: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
/* faq */
.faq {
  max-width: var(--max-width-section);
  text-align: center;
  padding: 0 2rem;
  margin: 6rem auto;
}
.faq-wrapper {
  margin: 4rem auto;
}

.faq-box {
  background: var(--white);
  border-radius: 5px;
  position: relative;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}
.question {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: var(--dark-blue);
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 0.3em;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.4rem;
  overflow: hidden;
  font-family: "CamptonSemiBold";
}
.question-answer {
  padding: 1em;
  display: none;
  overflow: hidden;
  line-height: 1.5;
  font-size: 1.2rem;
}

.question::after {
  content: url(/images/plus-circle.svg);
  position: absolute;
  right: 0;
}

.question.active::after {
  content: url(/images/minus-circle.svg);
}
.active,
.question:hover {
  background-color: var(--white);
}

/* media queries  */
@media only screen and (min-width: 40em) {
  .download + .web {
    margin-left: 2rem;
  }
  .download {
    font-size: 1.4em;

    padding: 1em 3em;
  }

  .web {
    font-size: 1.4em;

    padding: 1em 3em;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero_contents {
    margin-bottom: 0;
  }
  .hero-heading {
    font-size: 6rem;
    letter-spacing: 0.75rem;
  }
  #bold-svg {
    display: block;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
  }
  .circle1 {
    display: block;
  }
  .circle2 {
    display: block;
  }
  .hero-mobile {
    display: none;
  }
  .hero-image {
    position: relative;
    display: block;
  }
  .hero-image img {
    max-width: 600px;
  }
  .why-heading {
    border-left: 8px solid var(--yellow);
  }
  .why-header {
    font-size: 3rem;
    margin-left: 0;
    text-align: center;
  }
  .about-header {
    text-align: left;
    margin-left: 1rem;
  }

  .why-text {
    font-size: 1.4rem;
  }
  .started {
    padding: 8rem 0;
    position: relative;
  }

  .started-btn-group {
    flex-direction: row;
    max-width: 700px;
    margin: 0 auto;
    margin: 4rem auto;
  }
  .started-btn-group .web {
    margin: 0 auto;
    font-size: 1.2em;
  }
  .started-heading p {
    font-size: 2rem;
    max-width: 600px;
  }
  .testimonial-text {
    max-width: 600px;
    font-size: 1.4rem;
  }

  .person-level {
    font-size: 1.4rem;
  }
  .person-name {
    font-size: 2rem;
  }
  .person {
    max-width: 1000px;
    padding: 0 4rem;
  }
  .left-btn,
  .right-btn {
    background: #dde1e6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
  }
  .footer {
    padding: 10em 2em 4em 2em;
    text-align: center;
  }

  .links {
    font-size: 1.5rem;
  }

  .footer-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .logo-img {
    max-width: 100px;
    margin: 0 auto;
  }
  .footer-text {
    font-size: 1.7rem;
    max-width: 500px;
    margin: 4rem auto;
  }
  .service {
    max-width: var(--max-width-section);
    margin: 6rem auto;
    padding: 0 2em;
  }
  .service-group {
    display: flex;
    flex-wrap: wrap;
  }
  .service-box {
    position: relative;
    background: var(--white);
    padding: 5em 3em;
    border-radius: 10px;
    max-width: 320px;
    margin: 1em auto 4em auto;
  }
  .service-heading {
    color: var(--blue);
    font-size: rem;
    font-family: "CamptonBold", sans-serif;
    margin: 0 0 1em 0;
  }
  .service-text {
    font-size: 1.3rem;
    color: var(--dark-blue);
  }
  .service-text-heading {
    font-size: 1.8rem;
    text-align: center;
    max-width: 800px;
    margin: 8rem auto;
  }

  /* services */
  .values-box {
    background: var(--white);
    padding: 2em 1em;
    border-radius: 5px;
    max-width: 275px;
    margin: 1em auto 4em auto;
    border-top: 5px solid var(--light-blue);
  }
  .value-header {
    font-family: "CamptonSemiBold";
    font-size: 1.9rem;
    padding: 1em 0;
  }
  .value-text {
    font-size: 1.3rem;
    max-width: 300px;
  }
  .level-item {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 48em) {
  /************************* NAVBARs************************************ */
  .header {
    min-height: 100vh;
    clip-path: ellipse(81% 68% at 50% 32%);
  }
  .signin {
    clip-path: ellipse(81% 68% at 50% 32%);
  }

  .logo {
    background: transparent;
  }
  .menu {
    display: none;
  }
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-one {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .navbar-two {
    display: block;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link {
    font-size: 1.6em;
  }
  .sign-in {
    font-size: 1.4em;
  }
  /************************* NAVBARs************************************ */

  /************************* heroes************************************ */

  .hero-heading {
    font-size: 7rem;
    letter-spacing: 0.2rem;
  }
  .circle1 {
    width: 400px;
    height: 400px;
  }
  .circle2 {
    position: absolute;
    width: 220px;
    height: 220px;
  }

  .hero-image img {
    max-width: 500px;
    margin: 0 auto;
  }

  /************************* heroes************************************ */

  .success .why-header {
    display: block;
  }
  .box {
    max-width: 175px;
  }

  .box-group p {
    font-size: 1.4rem;
    color: var(--grey);
    margin: 1rem 0;
  }
  .box-group h3 {
    font-size: 2.4rem;
  }

  .started-btn-group {
    max-width: 800px;
  }
  .started-btn-group .web {
    font-size: 1.4em;
  }
  .testimonial {
    margin: 12rem auto;
  }
  .testimonial-text {
    max-width: 800px;
    font-size: 1.4rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block !important;
  }
  .person-img {
    display: block;
  }
  .person-img-mobile {
    display: none;
  }
  /* service */

  .service-box {
    position: relative;
    background: var(--white);
    padding: 5em 3em;
    border-radius: 10px;
    max-width: 330px;
    margin: 1em auto 4em auto;
  }
  .service-heading {
    color: var(--blue);
    font-size: 2.2rem;
    font-family: "CamptonBold", sans-serif;
    margin: 0 0 1rem 0;
  }
  .service-text {
    font-size: 1.4rem;
    color: var(--dark-blue);
  }
  /* .hero-service {
    margin-top: 10em;
  } */
  .hero-service .hero-heading {
    max-width: 600px;
  }

  /* services */
  .level-item {
    font-size: 1.2rem;
  }
  .team-wrapper-mobile {
    display: none;
  }
  .level-wrapper-mobile {
    display: none;
  }
  .team-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .level-wrapper {
    display: block;
  }

  /* form */
  .form-text {
    font-size: 1.3rem;
  }
  .form-control-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 64em) {
  .header {
    min-height: 90vh;
  }
  /************************* heroes************************************ */

  .hero {
    padding: 0em 2em;
    justify-content: space-between;
  }
  .hero__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .hero-image-wrapper {
    width: 100%;
    flex-basis: 100%;
  }
  .hero_contents {
    display: block;
    width: 100%;
    flex-basis: 100%;
    text-align: left;
  }
  .circle1 {
    width: 500px;
    height: 500px;
  }
  .circle2 {
    position: absolute;
    width: 320px;
    height: 320px;
  }
  .hero-image img {
    max-width: 700px;
    margin: 0 auto;
  }
  .btn-group {
    justify-content: start;
  }
  /************************* heroes************************************ */
  /************************* WHYYY************************************ */
  .why {
    margin: 4rem auto;
  }
  .why-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .why-contents {
    flex-basis: 100%;
    max-width: 1000px;
  }
  .why-image-content {
    flex-basis: 100%;
    max-width: 1000px;
  }

  .why-header {
    font-size: 3.6rem;
  }

  .why-text {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .about-wrapper {
    align-items: stretch;
  }

  .about-image-content {
    margin: 10rem 0 0 4rem;
  }
  .about-content-header {
    margin-bottom: 4rem;
  }
  .about-why {
    margin: 8rem auto;
  }

  /************************* WHYYY************************************ */

  .features {
    margin: 8em auto;
  }
  .features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
  .features-heading {
    text-align: center;
  }
  .key {
    font-size: 1.4rem;
  }
  .notes-images {
    display: block;
    max-width: 274px;
    min-height: 551px;
  }
  .note {
    padding: 3em;
    max-width: 374px;
    min-height: 170px;
    margin: 1em auto;
  }
  .note-group p {
    font-size: 1.8rem;
    margin-left: 0.5em;
  }
  .note-text p {
    font-size: 1.4rem;
  }
  .note-svg {
    display: block;
  }
  .note-pos1 {
    position: relative;
  }
  .note-pos1 .note-svg {
    position: absolute;
    right: -15%;
    top: 50%;
  }
  .note-pos1 .note-svg svg {
    max-width: 50px;
  }
  .note-pos2 {
    position: relative;
  }
  .note-pos2 .note-svg {
    position: absolute;
    left: -15%;
    top: 50%;
  }
  .note-pos2 .note-svg svg {
    max-width: 50px;
  }
  .started {
    clip-path: ellipse(90% 51% at 51% 50%);
  }
  .started img {
    position: absolute;
    display: block;
  }

  /* service */
  .hero-service {
    margin-top: 10em;
  }
  .footer {
    clip-path: ellipse(81% 68% at 50% 32%);
    transform: rotate(180deg);
  }
  .footer-wrapper {
    transform: rotate(-180deg);
  }
  .level {
    max-width: var(--max-width-section);
    padding: 8em 0;
    margin: 4rem auto;
  }

  .level-box {
    position: relative;
    max-width: 100%;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  }
  .level-img {
    flex-basis: 50%;
  }
  .level-img img {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
  }
  .level-img::after {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
  }
  /*  */
  .swiper {
    width: 100%;
    min-height: 300px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .level-content {
    flex-basis: 100%;
    position: absolute;
    width: 600px;
    min-height: 180px;
    left: 5%;
    bottom: 11%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2rem;

    filter: drop-shadow(0px 3px 3px rgba(42, 88, 116, 0.15));
  }
  .level-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .item-group + .item-group {
    margin-left: 4rem;
  }
  .level-header {
    font-size: 4.8rem;
    margin: 1rem auto;
    font-family: "CamptonSemiBold", sans-serif;
  }
  .level-item {
    font-size: 1.4rem;
  }
  .contact-form-wrappper {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
  }
  .contact-form-box {
    max-width: 100%;
    margin: 0;
  }
  .contact-form-blue {
    max-width: 100%;
    margin: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .contact-form-text {
    font-size: 1.8rem;
    margin: 4rem 0;
  }
  .contact-form-text img {
    width: 32px;
    margin-right: 4rem;
  }
  .faq {
    text-align: left;
    margin: 8rem auto;
  }

  .faq-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .faq-group {
    flex-basis: 100%;
  }
  .faq-group + .faq-group {
    margin-left: 2rem;
  }
  .question-answer {
    font-size: 1.5rem;
  }
  .question {
    font-size: 1.8rem;
  }
  .faq-header {
    text-align: center;
    max-width: 1400px !important;
  }
}

@media only screen and (min-width: 120em) {
  .header {
    min-height: 35vh;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .signin {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    min-height: 35vh;
  }
}
